{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "YOUR_STORAGE_CONNECTION_STRING",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "FUNCTIONS_EXTENSION_VERSION": "~4",

    "COSMOS_CONNECTION_STRING": "YOUR_COSMOS_CONNECTION_STRING",
    "COSMOS_DATABASE_NAME": "legends-db",

    "SEARCH_ENDPOINT": "https://legendsoftlw-search.search.windows.net",
    "SEARCH_API_KEY": "YOUR_SEARCH_API_KEY",
    "SEARCH_INDEX_NAME": "srd-index",

    "SIGNALR_CONNECTION_STRING": "YOUR_SIGNALR_CONNECTION_STRING",

    "OPENAI_ENDPOINT": "https://oai-thorshammer419-centralus.openai.azure.com/",
    "OPENAI_API_KEY": "YOUR_CENTRAL_US_OPENAI_KEY",
    "OPENAI_NARRATIVE_DEPLOYMENT": "tlw-gpt-4.1",
    "OPENAI_MINI_DEPLOYMENT": "tlw-gpt-4.1-mini",
    "OPENAI_EMBEDDING_DEPLOYMENT": "tlw-text-embedding-ada-002",

    "OPENAI_IMAGE_ENDPOINT": "https://tlw-openai-images.openai.azure.com/",
    "OPENAI_IMAGE_API_KEY": "YOUR_EAST_US2_OPENAI_KEY",
    "OPENAI_IMAGE_DEPLOYMENT": "tlw-gpt-image-1",

    "STORAGE_CONNECTION_STRING": "YOUR_STORAGE_CONNECTION_STRING",

    "COMMS_CONNECTION_STRING": "YOUR_COMMS_CONNECTION_STRING",
    "COMMS_SENDER_EMAIL": "noreply@legendsoftlw.app"
  }
}
